@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

/*Caracteristicas e definicoes basicas do tema.*/

:root {
    --cor-de-fundo: #282828;
    --cor-de-texto:  #fbf1c7;
    --cor-da-caixa-nav: #8ec07c;
    --transicao: all 0.3s linear;
    --cor-transicao-forma:  rgba(69, 85, 136, 0.5);
    --borda-circular: 16px;
}

* {
    box-sizing: border-box;
    font-family: "Skranji", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    background: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}

/*Remove the links in a*/

a {
    text-decoration: none;
    color: inherit;
}

.img-manipulation {
    width: 72px;
    height: 64px;
    margin: 0.5rem;
    border-radius: var(--borda-circular);
    border: 2px solid var(--cor-da-caixa-nav);
    transition: var(--transicao);
}

.img-manipulation:hover {
    background: var(--cor-transicao-forma);
}

.navegation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
    border-radius: var(--borda-circular);
    border: 2px solid var(--cor-da-caixa-nav);
    gap: 1rem;
}

.navegation-bar-h1 {
    font-size: 1.5rem;
    border: 2px solid var(--cor-da-caixa-nav);
    min-width: 15%;
    border-radius: var(--borda-circular);
    transition: var(--transicao);
    text-align: center;
    align-items: center;
    max-height: 7vh;
}

.navegation-bar-h1:hover {
    background-color: var(--cor-transicao-forma);
}

.app-layout {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 85vh;
    border: 1px solid var(--cor-da-caixa-nav);
    margin-top: 1rem;
    border-radius: var(--borda-circular);
}

.music-painel {
    border: 1px solid var(--cor-da-caixa-nav);
    border-radius: var(--borda-circular);
    overflow-y: auto;           /*Faz com que os elementos criados fiquem dentro deste container*/
}

.music-painel::-webkit-scrollbar {
    display: none; /*Esconde a barra de rolagem*/
}

.faixa-de-musica {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 1.50rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.faixa-de-musica:hover {
    background-color: var(--cor-de-texto);
    color: var(--cor-da-caixa-nav);
    transition: var(--transicao);
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}