@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

/*Caracteristicas e definicoes basicas do tema.*/

:root {
    --cor-de-fundo: #1d2021;
    --cor-de-texto: #fbf1c7;
    --cor-da-caixa-nav: #458588;
    --transicao: all 0.3s linear;
    --cor-transicao-forma:  rgba(69, 85, 136, 0.5);
    --borda-circular: 16px;
}

* {
    box-sizing: border-box;
    font-family: "Skranji", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    background: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}

/*Remove the links in a*/

a {
    text-decoration: none;
    color: inherit;
}

.img-manipulation {
    width: 72px;
    height: 64px;
    margin: 0.5rem;
    border-radius: var(--borda-circular);
    border: 2px solid var(--cor-da-caixa-nav);
    transition: var(--transicao);
}

.img-manipulation:hover {
    background: var(--cor-transicao-forma);
}

.navegation {
    display: flex;
    margin: 0 auto;
    gap: clamp(1rem, 1vw, 2.5rem);          /*Boa pratica para telas grandes e pequenas.*/
    border-radius: var(--borda-circular);
    border: 2px solid var(--cor-da-caixa-nav);
}

.navegation-bar-h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    border: 2px solid var(--cor-da-caixa-nav);
    min-width: 12rem;
    border-radius: var(--borda-circular);
    transition: var(--transicao);
    text-align: center;
    max-height: 7vh;
}

.navegation-bar-h1:hover {
    background-color: var(--cor-transicao-forma);
}

.app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    border: 1px solid var(--cor-da-caixa-nav);
}

.music-painel {
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid var(--cor-da-caixa-nav);
    border-radius: var(--borda-circular);
    width: 60vw;
    display: flex;
    gap: 2rem;
}

#lista {
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 1.55rem;
    display: flex;
    flex-direction: column;
}

#artista {
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 1.55rem;
    display: flex;
    flex-direction: column;
}

#minutagem {
    padding-top: 0.5rem;
    padding-left: 1.25rem;
    font-size: 1.55rem;
    display: flex;
    flex-direction: column;
}

.album {
    border: 1px solid var(--cor-da-caixa-nav);
}